.flex-container {
  padding: 50px;
  font-family: $font-secondary;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 110%;
  align-items: center;
  @media screen and(max-width: $small) {
    padding: 20px;
  }
  @media screen and(max-width: $medium) {
    padding: 20px;
  }
  ul {
    display: flex;
      @media screen and(max-width: $small) {
        flex-direction: column;
      }
  }
  li {
  font-size: 250%;
  @media screen and(max-width: $medium) {
    font-size: 200%;
  }
  @media screen and(max-width: $small) {
    font-size: 150%;
  }
}
}


.flex-container ul li a {
  @media screen and(max-width: $small) {
    flex-direction: column;
    margin: 0 auto;
  }
}


.flex-container {
  li {
    padding: 25px;
    display: flex;
    &:first-child>a {
      color: black;
      &:hover {
        color: cornflowerblue;
      }
      &:focus {
        color: mistyrose;
        transform: scale(2) rotate(35deg);
      }
      &:active {
        color: crimson;
      }
    }
    &:nth-child(2)>a {
      color: black;
      &:hover {
        color: cornflowerblue;
      }
      &:focus {
        color: mistyrose;
        transform: scale(2) rotate(35deg);
      }
      &:active {
        color: crimson;
      }
    }
    &:nth-child(3)>a {
      color: black;
      &:hover {
        color: cornflowerblue;
      }
      &:focus {
        color: mistyrose;
        transform: scale(2) rotate(35deg);
      }
      &:active {
        color: crimson;
      }
    }
    &:nth-child(4)>a {
      color: black;
      &:hover {
        color: cornflowerblue;
      }
      &:focus {
        color: mistyrose;
        transform: scale(2) rotate(35deg);
      }
      &:active {
        color: crimson;
      }
    }
    &:last-child>a {
      color: black;
      &:hover {
        color: cornflowerblue;
      }
      &:focus {
        color: mistyrose;
        transform: scale(2) rotate(35deg);
      }
      &:active {
        color: crimson;
      }
    }
  }
}



#about {
  text-align: center;
}



ul:not(.browser-default) li
{
  padding-top: 10px;
  }


  .one {
    padding: 30px 50px;
    border: 10px solid black;
    display: flex;
  }

  .two {
    padding: 70px 50px;
    border: 10px solid black;
    display: flex;
  }

  .three {
    padding: 30px 50px;
    border: 10px solid black;
    display: flex;
  }

  .parallax img {
    display: flex;
    background-size: cover;
    background-position: center;
    min-width: 100%;

    @media screen and(max-width: $medium) {
      height: 60%;
      width: 100%;
    }
    @media screen and(max-width: $small) {
      height: 60%;
      width: 100%;
    }
  }

  .grey-text, .text-lighten-3 {
    font-family: $font-secondary;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    //
    //   text-align: center;
      // transform: scale(1) rotate(25deg);
      // border: 2px solid black;
  }
