flex-container {
  padding: 50px;
  font-family: $font-secondary;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 110%;
  align-items: center;
  @media screen and(max-width: $small) {
    padding: 20px;
  }
  @media screen and(max-width: $medium) {
    padding: 20px;
  }
  ul {
    display: flex;
      @media screen and(max-width: $small) {
        flex-direction: column;
      }
  }
  li {
  font-size: 250%;
  @media screen and(max-width: $medium) {
    font-size: 200%;
  }
  @media screen and(max-width: $small) {
    font-size: 150%;
  }
}
}

.flex-container ul li a {
  @media screen and(max-width: $small) {
    // flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
  }
}

.header {
  color: black;
  padding: 50px 70px 0px 70px;
  a {
    color: black;
    font-size: 50px;
    font-weight: 900;
    font-family: $font-secondary;
  }
}

#header-title {
  font-size: 450%;
  a {
    color: black;
    &:hover {
      color: black;
    }
    &:focus {
      color: mistyrose;
      transform: scale(2) rotate(35deg);
    }
    &:active {
      color: crimson;
    }
  }
  @media screen and(max-width: $medium) {
    font-size: 200%;
  }
  @media screen and(max-width: $small) {
    font-size: 250%;
    text-align: center;
  }
}
